@use '../helpers' as *;

// как высчитать 3-55
.card {
  @include tablet-above {
    display: grid;
    grid-template-columns: 37.5% auto;
  }

  &__preview,
  &__body {
    padding: rem(80);

    @include laptop {
      padding: rem(60);
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: fluid(60, 20);
    padding-left: 0;

    @include tablet-above {
      border-right: var(--border);
    }

    @include tablet {
      padding-right: 0;
      padding-block: rem(50);
      border-bottom: var(--border);
    }

    &-main {
      display: grid;
      row-gap: fluid(50, 24);

      @include tablet {
        justify-content: start;
      }
    }

    &-icon {
      width: fluid(80, 50);
    }

    &-info {
      display: grid;
      row-gap: fluid(16, 6);

      // !section"podcasts-title"
      &:has(.card__rating-view) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
      }
    }
  }

  &__body {
    padding-right: 0;

    @include tablet {
      padding: rem(30) rem(16);
    }
  }

  &__grid {
    display: grid;

    &--2-cols {
      grid-template-columns: repeat(2, 1fr);
      gap: fluid(30, 10);

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    //!section 'resources-title'
    &--2-cols-alt {
      gap: rem(30) rem(20);

      @include laptop {
        gap: rem(24) rem(16);
      }

      @include mobile-above {
        grid-template-columns: auto 1fr;
      }
    }

    //! section"podcasts-title"
    &--3-cols {
      gap: fluid(50, 20) rem(20);

      @include laptop {
        column-gap: rem(16);
      }

      @include mobile-above {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    //!section "reports-title" формируем колонки 'Quantum Computing Whitepaper'
    &--3-cols-alt {
      grid-template-columns: repeat(3, 1fr);
      gap: fluid(50, 20) rem(20);

      @include laptop {
        column-gap: rem(16);
      }

      @include mobile-s {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  //что бы при добавлении карточек все было красиво лучше через flex
  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: fluid(20, 4);

    //!section 'resources-title'
    &:has(> *:only-child) {
      justify-content: center;
    }

    //!section 'resources-title'
    &:has(.card__cell-link) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'other link'
        'other link';
      align-items: center;
      column-gap: rem(20);
      row-gap: fluid(14, 10);
    }

    //!section "reports-title"
    //если нет у яйчейки класса title то на мобильной версии будем сбрасовать параметры сетки
    &:not(.title) {
      @include mobile-s {
        grid-template: initial;

        .card__cell-link {
          grid-area: initial;
        }
      }
    }

    //!section "reports-title"
    &.tile {
      @include mobile-s {
        padding: rem(20);
      }
    }

    //!section 'resources-title'
    &--wide {
      grid-column: -1 / 1; //растянем элемент на все колонки
    }

    //!section "reports-title"
    &--wide-on-mobile-s {
      @include mobile-s {
        grid-column: -1 / 1; //растянем элемент на все колонки
      }
    }

    //!section 'resources-title'
    &-image {
      width: 100%;
      height: fluid(332, 169);
      object-fit: cover; //пропорции картинки сохранились и не искажались
      border-radius: rem(12);

      @include laptop {
        border-radius: rem(10);
      }
    }

    //!section 'resources-title' меняем текст h4
    &-subtitle {
      font: inherit; //«возьми шрифт у родителя»
      color: inherit;
    }

    //!section 'resources-title' от &:has(.card__cell-link)
    &-link {
      grid-area: link;
    }

    //!section "reports-title"
    &-description {
      @include mobile-s {
        font-size: rem(14);
      }
    }
  }
}
