@use '../helpers' as *;

.footer {
  color: var(--color-dark-50);

  &__body {
    padding-block: fluid(80, 40); //самая большая и самая маленькая версия
    border-bottom: var(--border); //нижняя серая черта(граница)
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 колонок в grid сетку
    align-items: start; //прижать все пункты меню к верху footer
    column-gap: fluid(
      80,
      20
    ); //расстояние между колонками самая большая и самая маленькая

    @include tablet {
      grid-template-columns: repeat(2, 1fr); //мобильная версия
    }

    @include mobile {
      row-gap: rem(20);
    }

    //кнопки со стрелочками
    &-column {
      display: grid;
      row-gap: fluid(36, 16); //расстояние самая большая и самая маленькая

      &:last-child {
        @include tablet {
          grid-column: -1/1;

          .footer__menu-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: rem(12);
          }
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: fluid(18, 8); //расстояние самая большая и самая маленькая
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: rem(8);
    }
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding-block: rem(40);

    @include laptop {
      padding-block: rem(24);
    }

    @include mobile {
      flex-direction: column;
      row-gap: rem(20);
    }

    //черточка вертикальная
    &-menu {
      &-list {
        display: flex;
      }

      //к каждом не последнему item добавляется черточка
      &-item:not(:last-child)::after {
        content: '|';
        margin-inline: rem(11);
      }
    }
  }

  &__soc1als {
    @include mobile {
      order: -1; //в мобильной версии меняем местами значки с середины на вверх
    }
  }
}
