@use '../helpers' as *;

//как делим контейнер для grid 2:49

//! "grid-template-areas"-Это как рисовать сетку с подписями ячеек, а затем говорить элементам:
// «Ты иди в ячейку с именем body, а ты в metrics

.hero {
  &__main {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-areas: //задаёт именованные области сетки.

      'body resources-preview'
      'metrics resources-preview';
  }
  &__body {
    grid-area: body; //указывает, в какую область сетки он должен встать
    padding-top: rem(150);
    padding-right: rem(50);
    padding-bottom: rem(100);

    @include laptop {
      padding-top: rem(100);
      padding-right: rem(40);
    }
  }

  &__subtitle {
    @include fluid-text(30, 18); //<p"hero__subtitle">
    font-family: var(--font-family-accent);
    font-weight: 500;
    color: var(--color-dark-50);

    // ':last-child' для более надежной разметки 2:53
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__metrics {
    grid-area: metrics; //указывает, в какую область сетки он должен встать

    border-top: var(--border); //!горизонтальные линии разделяющие секции

    @include tablet {
      &::before {
        width: var(--100vw);
        right: calc(var(--container-padding-x) * -1);
      }
    }
  }

  &__resources-preview {
    grid-area: resources-preview; //указывает, в какую область сетки он должен встать
    padding-left: rem(80);
    padding-bottom: rem(80);
    border-left: var(--border);
    //выгружаем картинку выключив все изображения в ней 2:58
    // указываем позиционирование от левого угла 0 0
    background: url(../../images/resources-preview/bg.png) 0 0 / cover no-repeat;

    @include laptop {
      padding-left: rem(50);
      padding-bottom: rem(50);
    }
  }

  &__advantages {
    border-block: var(--border); //!горизонтальные линии разделяющие секции

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr); //грид сетка 3 равные колонки
    }

    &-item {
      --paddingX: #{rem(80)}; // создаем переменную

      padding-block: rem(50);

      @include laptop {
        --paddingX: #{rem(50)};

        padding-block: rem(40);
      }

      &:not(:first-child) {
        padding-left: var(
          --paddingX
        ); // для всех элементов кроме первого был padding-left
      }

      &:not(:last-child) {
        padding-right: var(
          --paddingX
        ); //для всех элементов кроме последнего был padding-right
        border-right: var(--border);
      }
    }
  }
}
