@use '../helpers' as *;

//!желтая стрелка рядом с сылкой

.icon {
  display: inline-flex;
  align-items: center; //выравнивает элементы по центру вертикали
  column-gap: rem(10); //расстояние между иконкой и надписью

  //псевдоэлемент

  &::after {
    --size: #{rem(24)}; //размер стрелки

    @include square(var(--size)); //вставляет код из миксина square

    //Псевдоэлементы ::before и ::after должны иметь свойство 'content'. Если вам не нужно добавлять текст, установите content: '';.

    content: '';

    flex-shrink: 0; //0; означает, что элемент не будет сжиматься
    background-position: center; // Устанавливает положение стрелки по центру псевдоэлемента
    background-size: contain; // Устанавливает размер стрелки, чтобы она полностью помещался в псевдоэлемент, сохраняя пропорции.
    background-repeat: no-repeat; //Предотвращает повторение фонового изображения
  }

  @include laptop {
    --size: #{rem(24)}; //размер стрелки в версии лаптоп
  }

  &--yellow-arrow {
    &::after {
      background-image: url('../../icons/arrow-top.svg');
    }
  }

  //блок 'resources-title'
  &--yellow-eye {
    &::after {
      background-image: url('../../icons/eye_yellow.svg');
    }
  }
}
