// три карточки в ряд
@use '../helpers' as *;

.news {
  display: grid; // блок с картинки в секции "blog-details-title"
  row-gap: rem(80); // блок с картинки в секции "blog-details-title"
  padding-block: fluid(80, 40);

  @include laptop {
    row-gap: rem(40); // блок с картинки в секции "blog-details-title"
  }

  // блок с картинки в секции "blog-details-title"
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem; //чтобы элементы не прилипли друг к другу
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(358), 1fr));
    gap: rem(30);
  }
}
