// стили для фото
@use '../helpers' as *;

.team {
//локадьная scss переменная для размера картинок
--personImageSize: #{rem(60)};


  display: flex;
  padding: rem(10);
  background-color: var(--color-dark-10);
  border-radius: rem(100);

  &__person {
width: var(--personImageSize);
background-color: var(--color-dark-15);
border: rem(2) solid var(--color-dark-40);
border-radius: 50%;

 //смещаем элементы картинок друг на друга 3:03
 //сдвигаем все картинки на 15px кроме 1

 &:not(:first-child) {
      margin-left: calc(var(--personImageSize) / 4 * -1);
    }
 }
  }

