@use 'helpers' as *;

//! Утилитарные классы
// (Utility Classes) — это классы CSS, которые выполняют одно конкретное действие или вычисляют одно конкретное свойство. Их цели облегчить быструю и гибкую стилизацию элементов HTML, избегая написания повторяющегося CSS-кода и уменьшая размер CSS-файлов.

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

// _mixin.scss
.visually-hidden {
  @include visually-hidden;
}

//нужны для скрытия элемента на определенном диапазоне
//!      ' !important ' допустимо использовать только для утилитарных классов
.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

//!горизонтальные линии разделяющие секции
.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    width: calc(((100vw) - var(--container-width)) / 2);
    height: rem(1);
    background-color: var(--color-dark-15);
  }

  &--top {
    &::before {
      content: '';
      bottom: 100%;
    }
  }

  &--bottom {
    &::after {
      content: '';
      top: 100%;
    }
  }

  &--left {
    &::before,
    &::after {
      right: 100%;
    }
  }

  &--right {
    &::before,
    &::after {
      left: 100%;
    }
  }
}
